In [44]:
import numpy as np
import pandas as pd

df1 = pd.read_csv('kaggle_train.csv')
df1.drop('Unnamed: 0', 1, inplace=True)

df2 = pd.read_csv('twitter_dataset.csv', sep=",")

indexNames = df1[ ~(df1['Emoji']==0) & # 0
                 ~(df1['Emoji']==2) & # 1
                 ~(df1['Emoji']==4) & # 2
                 ~(df1['Emoji']==7) & # 3
                 ~(df1['Emoji']==18) & # 4
                 ~(df1['Emoji']==19) ].index #5

df1.drop(indexNames , inplace=True)

df1['Emoji'] = df1['Emoji'].replace([2],1)
df1['Emoji'] = df1['Emoji'].replace([4],2)
df1['Emoji'] = df1['Emoji'].replace([7],3)
df1['Emoji'] = df1['Emoji'].replace([18],4)
df1['Emoji'] = df1['Emoji'].replace([19],5)

data = pd.concat([df2,df1])
data.to_csv("new_dataset.csv", index = False)
data

                                                   Tweet  Emoji
0      dianacoco_ pretty face, tiny body with big bre...      0
1                             theapplehub that is creepy      0
2      ain't this a body-shaming!! it was meant to be...      0
3      _calculator morning garth, trust you are well....      0
4      shivapunishbjp rahulgandhi dynastical bootlick...      0
...                                                  ...    ...
69985  Whether at home or out of town, or in a #sundr...      0
69988  Phoenix bound! My #consultant #paysonbookfesti...      2
69990  Just because my wrestling career is over doesn...      2
69991  A thing I did today! #Repost @user with @user ...      1
69997  If one of my daughters is wearing this and ask...      1

[19174 rows x 2 columns]